{% extends "base.html" %}
{% block content %}
    <h1>Commissions</h1> 
    <table>
        {% for commission in commissions %}
            <tr>
                <td>{{ commission.id }}</td>
                <td>{{ commission.title }}</td>
                <td>{{ commission.contact }}</td>
                <td>{{ commission.description }}</td>
                <td>{{ commission.status }}</td>
                <td>
                    <form action="/commissions/delete/{{ commission.id }}" method="POST">
                        <input type="submit" value="X">
                    </form>    
                </td>
            </tr>
        {% endfor %} 
    </table>
        <form method="get" action="/commissions/new">
            <button type="submit">New commission</button>
        </form>
        
{% endblock %}
