h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
    padding-top: 20px;
}

div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

div li {
    display: inline-block;
    margin: 0px 40px;
}

div li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}

a:hover, a:active {
    background-color: #c588f799;
    border-radius: 20px;
}

div li a.active {
    background-color: #c588f7; /* Цвет фона для активной вкладки */
    color: #000000; /* Цвет текста для активной вкладки */
    border-radius: 20px; /* Радиус границ для активной вкладки */
}
